DB_HOST=localhost
DB_PORT=5432
DB_NAME=brainvault
DB_USER=brainvault
DB_PASS=brainvault_secret
DB_SYNCHRONIZE=true
PORT=3000
NODE_ENV=development
CORS_ORIGINS=http://localhost:4200,http://localhost:80,http://localhost
